services:
  backend:
    build:
      context: ./backend
    network_mode: service:db
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:8080"
    environment:
      - API_URL=http://db:8080

  db:
    image: postgres:18.1-alpine
    ports:
      - "5432:5432"
      - "8080:8080"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=aztokyo
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
