name: Docker compose build

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - '**'

  workflow_dispatch:

jobs:
  build:
    name: docker compose build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build images
        run: make build
